feat_set.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DOCTYPE all_features SYSTEM "feat_all.dtd" --> <!-- put at top of XML file to validate -->

<!ELEMENT features_set (feature+)>
<!ATTLIST features_set
	version CDATA #REQUIRED>
<!ELEMENT feature (value+)>
<!ATTLIST feature
	name CDATA #REQUIRED
	value CDATA #REQUIRED>
<!ELEMENT value EMPTY>
<!ATTLIST value
	name CDATA #REQUIRED>
